body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(248,248,248,1.00);
   --border-color: #D2D2D2;
   --border-width: 1px;
   --color: #212529;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DEE2E6;
   --border-width: 1px;
   --color: #212529;
   --icon-color: #0D6EFD;
   --colorize: invert(35%) sepia(73%) saturate(4559%) hue-rotate(209deg) brightness(100%) contrast(105%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #0D6EFD;
   --colorize: invert(45%) sepia(96%) saturate(5539%) hue-rotate(209deg) brightness(101%) contrast(98%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-widget-header
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(248,248,248,1.00);
   --border-color: #D2D2D2;
   --border-width: 1px;
   --color: #212529;
}
.ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DEE2E6;
   --border-width: 1px;
   --color: #212529;
   --icon-color: #0D6EFD;
   --colorize: invert(31%) sepia(74%) saturate(3476%) hue-rotate(208deg) brightness(99%) contrast(102%);
}
.ui-state-default
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-state-hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.ui-state-default.active, .ui-state-active, .active > .ui-state-default
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-widget-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .ui-widget-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #0D6EFD;
   --colorize: invert(30%) sepia(79%) saturate(2213%) hue-rotate(207deg) brightness(96%) contrast(107%);
}
.darktheme .ui-state-default, .darktheme .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-state-hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-state-default.active, .darktheme .ui-state-active, .active > .ui-state-default
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-button{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .ui-button:active
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_Flex_Container_Novaday
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#Flex_Container_Novaday
{
   display: flex;
   position: relative;
   padding: 25px 15px 25px 15px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0;
}
#DividerLine1
{
   border-color: #9400D3;
   border-style: dashed;
   border-bottom-width: 3px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
   flex-grow: 1;
   flex-shrink: 0;
   align-self: auto;
}
#wb_Heading_Novaday
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#Heading_Novaday
{
   color: #00BFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#DividerLine2
{
   border-color: #9932CC;
   border-style: dashed;
   border-bottom-width: 3px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
   flex-grow: 1;
   flex-shrink: 0;
   align-self: auto;
}
#wb_FlexContainer2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexContainer2
{
   display: flex;
   position: relative;
   padding: 25px 15px 25px 15px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0;
}
#Tabs1.ui-widget
{
   font-size: 1em !important;
}
#Tabs1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #FFFFFF;
   padding: 4px 4px 4px 4px;
   margin: 0;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#Tabs1 .ui-tabs-nav
{
   font-family: Arial;
   font-weight: normal;
   line-height: 1.0;
   padding: 4px 4px 0 4px;
   margin: 0;
   font-size: 0;
   text-align: center;
}
#Tabs1 .ui-tabs-nav li
{
   display: inline-block;
   float: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   margin: 0 2px -1px 0 ;
   text-align: left;
}
#Tabs1 .ui-tabs-nav li a
{
   font-size: 13px;
   padding: 8px 10px 8px 10px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-top
{
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
}
#Tabs1 .ui-widget-header
{
   border: 8px solid #FFFFFF;
   background-color: #FFFFFF;
   background-image: none;
}
#Tabs1 .ui-state-default, #Tabs1 .ui-widget-content .ui-state-default
{
   border-color: #0D6EFD;
   background-color: #0D6EFD;
   background-image: none;
}
#Tabs1 .ui-state-hover, #Tabs1 .ui-widget-content .ui-state-hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#Tabs1 .ui-state-active, #Tabs1 .ui-widget-content .ui-state-active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
}
#Tabs1 .ui-state-default a, #Tabs1 .ui-widget-content .ui-state-default a
{
   color: #FFFFFF;
}
#Tabs1 .ui-state-hover a, #Tabs1 .ui-widget-content .ui-state-hover a
{
   color: #FFFFFF;
}
#Tabs1 .ui-state-active a, #Tabs1 .ui-widget-content .ui-state-active a
{
   color: #FFFFFF;
}
#Tabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Tabs1 .description
{
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#wb_FlipSwitch1
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch1
{
   display: none;
}
#FlipSwitch1-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch1-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch1-inner:before, #FlipSwitch1-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch1-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch1-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch1-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch1:checked + #FlipSwitch1-label
{
   border-color: #0A53BE;
}
#FlipSwitch1:checked + #FlipSwitch1-label #FlipSwitch1-inner
{
   margin-left: 0;
}
#FlipSwitch1:checked + #FlipSwitch1-label #FlipSwitch1-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch2
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch2
{
   display: none;
}
#FlipSwitch2-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch2-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch2-inner:before, #FlipSwitch2-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch2-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch2-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch2-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch2:checked + #FlipSwitch2-label
{
   border-color: #0A53BE;
}
#FlipSwitch2:checked + #FlipSwitch2-label #FlipSwitch2-inner
{
   margin-left: 0;
}
#FlipSwitch2:checked + #FlipSwitch2-label #FlipSwitch2-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch3
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch3
{
   display: none;
}
#FlipSwitch3-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch3-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch3-inner:before, #FlipSwitch3-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch3-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch3-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch3-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch3:checked + #FlipSwitch3-label
{
   border-color: #0A53BE;
}
#FlipSwitch3:checked + #FlipSwitch3-label #FlipSwitch3-inner
{
   margin-left: 0;
}
#FlipSwitch3:checked + #FlipSwitch3-label #FlipSwitch3-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch4
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch4
{
   display: none;
}
#FlipSwitch4-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch4-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch4-inner:before, #FlipSwitch4-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch4-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch4-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch4-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch4:checked + #FlipSwitch4-label
{
   border-color: #0A53BE;
}
#FlipSwitch4:checked + #FlipSwitch4-label #FlipSwitch4-inner
{
   margin-left: 0;
}
#FlipSwitch4:checked + #FlipSwitch4-label #FlipSwitch4-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch5
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch5
{
   display: none;
}
#FlipSwitch5-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch5-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch5-inner:before, #FlipSwitch5-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch5-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch5-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch5-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch5:checked + #FlipSwitch5-label
{
   border-color: #0A53BE;
}
#FlipSwitch5:checked + #FlipSwitch5-label #FlipSwitch5-inner
{
   margin-left: 0;
}
#FlipSwitch5:checked + #FlipSwitch5-label #FlipSwitch5-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch6
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch6
{
   display: none;
}
#FlipSwitch6-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch6-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch6-inner:before, #FlipSwitch6-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch6-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch6-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch6-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch6:checked + #FlipSwitch6-label
{
   border-color: #0A53BE;
}
#FlipSwitch6:checked + #FlipSwitch6-label #FlipSwitch6-inner
{
   margin-left: 0;
}
#FlipSwitch6:checked + #FlipSwitch6-label #FlipSwitch6-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch7
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch7
{
   display: none;
}
#FlipSwitch7-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch7-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch7-inner:before, #FlipSwitch7-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch7-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch7-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch7-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch7:checked + #FlipSwitch7-label
{
   border-color: #0A53BE;
}
#FlipSwitch7:checked + #FlipSwitch7-label #FlipSwitch7-inner
{
   margin-left: 0;
}
#FlipSwitch7:checked + #FlipSwitch7-label #FlipSwitch7-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch8
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch8
{
   display: none;
}
#FlipSwitch8-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch8-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch8-inner:before, #FlipSwitch8-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch8-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch8-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch8-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch8:checked + #FlipSwitch8-label
{
   border-color: #0A53BE;
}
#FlipSwitch8:checked + #FlipSwitch8-label #FlipSwitch8-inner
{
   margin-left: 0;
}
#FlipSwitch8:checked + #FlipSwitch8-label #FlipSwitch8-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch9
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch9
{
   display: none;
}
#FlipSwitch9-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch9-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch9-inner:before, #FlipSwitch9-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch9-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch9-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch9-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch9:checked + #FlipSwitch9-label
{
   border-color: #0A53BE;
}
#FlipSwitch9:checked + #FlipSwitch9-label #FlipSwitch9-inner
{
   margin-left: 0;
}
#FlipSwitch9:checked + #FlipSwitch9-label #FlipSwitch9-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch10
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch10
{
   display: none;
}
#FlipSwitch10-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch10-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch10-inner:before, #FlipSwitch10-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch10-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch10-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch10-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch10:checked + #FlipSwitch10-label
{
   border-color: #0A53BE;
}
#FlipSwitch10:checked + #FlipSwitch10-label #FlipSwitch10-inner
{
   margin-left: 0;
}
#FlipSwitch10:checked + #FlipSwitch10-label #FlipSwitch10-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch11
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch11
{
   display: none;
}
#FlipSwitch11-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch11-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch11-inner:before, #FlipSwitch11-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch11-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch11-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch11-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch11:checked + #FlipSwitch11-label
{
   border-color: #0A53BE;
}
#FlipSwitch11:checked + #FlipSwitch11-label #FlipSwitch11-inner
{
   margin-left: 0;
}
#FlipSwitch11:checked + #FlipSwitch11-label #FlipSwitch11-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
#wb_FlipSwitch12
{
   direction: ltr;
   margin: 0;
}
#FlipSwitch12
{
   display: none;
}
#FlipSwitch12-label
{
   display: block;
   overflow: hidden;
   cursor: pointer;
   border: 2px solid #DEE2E6;
   border-radius: 31px;
   box-sizing: border-box;
   max-width: 100%;
   height: 100%;
   transition: border-color 300ms ease-in 0s;
}
#FlipSwitch12-inner
{
   box-sizing: border-box;
   display: block;
   width: 200%;
   margin-left: -100%;
   transition: margin 300ms ease-in 0s;
}
#FlipSwitch12-inner:before, #FlipSwitch12-inner:after
{
   display: block;
   float: left;
   width: 50%;
   height: 31px;
   padding: 0;
   line-height: 31px;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 31px;
   text-align: center;
}
#FlipSwitch12-inner:before
{
   content: "On";
   padding-right: 31px;
   background-color: #0A58CA;
   color: #FFFFFF;
   border-radius: 31px 0 0 31px;
}
#FlipSwitch12-inner:after
{
   content: "Off";
   padding-left: 31px;
   background-color: #FFFFFF;
   color: #212529;
   border-radius: 0 31px 31px 0;
}
#FlipSwitch12-switch
{
   display: block;
   width: 31px;
   margin: 0;
   background: #0D6EFD;
   border: 2px solid #0D6EFD;
   border-radius: 31px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.30);
   position: absolute;
   top: 2px;
   bottom: 2px;
   right: 47px;
   transition: all 300ms ease-in 0s;
   box-sizing: border-box;
}
#FlipSwitch12:checked + #FlipSwitch12-label
{
   border-color: #0A53BE;
}
#FlipSwitch12:checked + #FlipSwitch12-label #FlipSwitch12-inner
{
   margin-left: 0;
}
#FlipSwitch12:checked + #FlipSwitch12-label #FlipSwitch12-switch
{
   right: 2px;
   background: #0D6EFD;
   border-color: #0D6EFD;
}
